<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.luthfi.mycv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoDetail"
            android:screenOrientation="portrait" />
        <activity android:name=".AppInfo"
            android:screenOrientation="portrait" />
        <activity android:name=".Skiil"
            android:screenOrientation="portrait" />
        <activity android:name=".Organization"
            android:screenOrientation="portrait" />
        <activity android:name=".Certificate"
            android:screenOrientation="portrait" />
        <activity android:name=".Report"
            android:screenOrientation="portrait" />
        <activity android:name=".Education"
            android:screenOrientation="portrait" />
        <activity android:name=".Contact"
            android:screenOrientation="portrait" />
        <activity android:name=".Portofolio"
            android:screenOrientation="portrait" />
        <activity android:name=".About"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>